<!-- <p>home works!</p> -->

<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title  mb-5 mt-4" style="text-align: center;">Collections</h3>
    
        <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://b.zmtcdn.com/webFrontend/64dffaa58ffa55a377cdf42b6a690e721585809275.png?fit=around|402:360&crop=402:360;*,*" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Order Food Online</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" routerLink="products" class="btn btn-primary">View Products</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://b.zmtcdn.com/webFrontend/95f005332f5b9e71b9406828b63335331585809309.png?fit=around|402:360&crop=402:360;*,*" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Go Out For A Meal</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" routerLink="products" class="btn btn-primary">View Products</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://b.zmtcdn.com/webFrontend/b256d0dd8a29f9e0623ecaaea910534d1585809352.png?fit=around|402:360&crop=402:360;*,*" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Zomato Pro</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" routerLink="products" class="btn btn-primary">View Products</a>
                    </div>
                  </div>
            </div>
            
          </div>
    </div>
</div>
</div>