<!-- <p>products works!</p> -->

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4" style="width: 20%;  margin: auto;">
            <div class="card">
                <img class="card-img-top" src="https://b.zmtcdn.com/data/dish_photos/68c/588d87320998eb972aee99ca23ff468c.jpg?output-format=webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Order Food Online</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" routerLink="products" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4" style="width: 20%; margin: auto;" >
            <div class="card">
                <img class="card-img-top" src="https://b.zmtcdn.com/data/dish_photos/152/4d93e6093783923ada036c1ca2ac2152.jpg?output-format=webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Go Out For A Meal</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" routerLink="products" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4" style="width: 20%; margin: auto;" >
            <div class="card">
                <img class="card-img-top" src="https://b.zmtcdn.com/data/dish_photos/1ee/f9604a020fcb50d85266b9801f0221ee.png?output-format=webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Zomato Pro</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" routerLink="products" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
        </div>
        
      </div>
</div>